<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="clockapp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <clockapp.Properties.Settings>
            <setting name="backgroundimg" serializeAs="String">
                <value />
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>330</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>225</value>
            </setting>
            <setting name="bordercolor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="panelcolor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="label1color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="label3color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="form2line" serializeAs="String">
                <value />
            </setting>
            <setting name="backgroundimg2" serializeAs="String">
                <value />
            </setting>
            <setting name="FormWidth2" serializeAs="String">
                <value>330</value>
            </setting>
            <setting name="FormHeight2" serializeAs="String">
                <value>225</value>
            </setting>
            <setting name="bordercolor2" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="panelcolor2" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="label1color2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="label3color2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="form3lone" serializeAs="String">
                <value />
            </setting>
            <setting name="backgroundimg3" serializeAs="String">
                <value />
            </setting>
            <setting name="bordercolor3" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="panelcolor3" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="label1color3" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="label4color3" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="btnshow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="btnshow2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="form1location" serializeAs="String">
                <value>5, 5</value>
            </setting>
            <setting name="form2location" serializeAs="String">
                <value>15, 15</value>
            </setting>
            <setting name="form3location" serializeAs="String">
                <value>5, 5</value>
            </setting>
            <setting name="opa1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="opa2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="opa3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="label1location" serializeAs="String">
                <value>8, 19</value>
            </setting>
            <setting name="label3location" serializeAs="String">
                <value>12, 73</value>
            </setting>
            <setting name="label1location2" serializeAs="String">
                <value>8, 19</value>
            </setting>
            <setting name="label3location2" serializeAs="String">
                <value>12, 73</value>
            </setting>
            <setting name="track1" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="track2" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="track3" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="track1visable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="track2visable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="contextstop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="contextclock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statethroghstop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statethroghclock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dashbuttoncolor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="DashButtoncolor2" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="Dashbuttoncolor3" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="lable3_1text" serializeAs="String">
                <value>Stopwatch</value>
            </setting>
            <setting name="label3_2text" serializeAs="String">
                <value>Clock</value>
            </setting>
            <setting name="form1label1font" serializeAs="String">
                <value>GyeonggiTitleV Bold, 30pt, style=Bold</value>
            </setting>
            <setting name="form1label3font" serializeAs="String">
                <value>GyeonggiTitleV Bold, 15.75pt, style=Bold</value>
            </setting>
            <setting name="form2label1font" serializeAs="String">
                <value>GyeonggiTitleV Bold, 30pt, style=Bold</value>
            </setting>
            <setting name="form2label3font" serializeAs="String">
                <value>GyeonggiTitleV Bold, 15.75pt, style=Bold</value>
            </setting>
            <setting name="form3label1font" serializeAs="String">
                <value>GyeonggiTitleV Bold, 24pt, style=Bold</value>
            </setting>
            <setting name="runauto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="form2topmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="form1topmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="form3topmost" serializeAs="String">
                <value>True</value>
            </setting>
        </clockapp.Properties.Settings>
    </userSettings>
</configuration>